<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="concat" type="SqlUtils.ConfigSettings.ConcatConfigSection,SqlUtils" />
  </configSections>
  <concat>
    <databases>
      <database databaseName="$(QS)" prefix="QS" version="2.0"
                    buildDBScript="QS.BuildDB.sql" 
					migrationFile="Static\QS.Migration.sql" 
					migrationFolder="Migration" 
					programmabilityFile="Static\QS.Programmability.sql"
					programmabilityFolder="Programmability">
        <processings>
          <processing id="1" file="Static\QS.CheckDb.sql"></processing>
          <processing id="2" file="Static\QS.Schema.sql"></processing>
          <processing id="3" file="Static\QS.Migration.sql"></processing>
          <processing id="4" file="Static\QS.Dictionary.sql"></processing>
          <processing id="5" file="Static\QS.Constraint.sql"></processing>
          <processing id="6" file="Static\QS.Views.sql "></processing>
          <processing id="7" file="Static\QS.Programmability.sql"></processing>
        </processings>
      </database>
    </databases>
  </concat>
</configuration>








